
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<div class="container">

    <hr class="site-primary-color"/>

    <div class="Bio">
        <h3>About Me</h3>

        <p></p>
    </div>
</div>
<a href="c:\users\administrator\source\repos\philswebsite\philswebsite\views\home\about.cshtml">c:\users\administrator\source\repos\philswebsite\philswebsite\views\home\about.cshtml</a>