
@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>

<div class="container">

    <p style="border-width:3px; border-style:solid; border-color:darkblue; padding: 1em;">
        I am currently in my second year of studying Software Development and Programming at<br />
        South Hills School of Business & Technology. I started a career in tech because I <br />
        believe it will be an extremely useful skillset in the future and wanted a career<br />
        that I knew would always challenge me..</p style>

        <hr class="site-primary-color" />
        
        <div class="">
            <h1>Work Experience </h1>


            <a href="https://www.linkedin.com/in/phillip-goska-195050a3/">
                <button class="btn btn1">LinkedIn</button>
            </a>
            <hr class="site-primary-color" />
            <hr class="site-primary-color" />




            <h1>Core Classes </h1>
            <!--Trigger/Open The Modal-->
            <!--LINUX-->
            <button style="background-color: white; background-color: white; padding: 100px; margin: 50px; font-size: 36px; border: 3px solid mediumblue;border-radius:5px " id="btn">Linux Essentials</button>

            <!--The Modal-->
            <div id="myModal" class="modal">

                <!--The Content-->
                <div class="modal-content">
                    <span class="close" &times;</span>
                    <h1>Skills Aquired</h1>
                    <ul>
                        <li>Install a Debian based Linux distribution such as Debian or </li>
                        <li>Ubuntu</li>
                        <li>Install a Redhat based Linux distribution such as Redhat, </li>
                        <li>Fedora, or CentOS</li>
                        <li>Create a delete files and folders</li>
                        <li>Copy, move, and rename folders/files</li>
                        <li>Use a terminal based text editor to modify files</li>
                        <li>Create and Delete user accounts</li>
                        <li>Add user accounts to various groups</li>
                        <li>Change the owner/group of a folder/file</li>
                        <li>Change the Read, Write, and Execute permissions of a </li>
                        <li>folder/file</li>
                        <li>Create both hard and symbolic links</li>
                        <li>Use Tar to archive files</li>
                        <li>Use gzip or bzip to compress files</li>
                        <li>Use the cron service to schedule tasks</li>
                        <li>Update and upgrade a Linux distribution</li>
                        <li>Add new repositories to a distribution</li>
                        <li>Use wget to download files from the web</li>
                        <li>Ssc20</li>
                        <li>Install new applications using a distributions software </li>
                        <li>manager</li>
                        <li>Install new applications using dpkg or rpm</li>
                        <li>Connect to a remote device using ssh or telnet</li>
                        <li>Partition and format a hard drive</li>
                        <li>Create and execute a BASH script</li>
                        <li>Use conditional statements and variables within a BASH </li>
                        <li>script</li>
                        <li>Manage processes on the operating system</li>
                    </ul>
                </div>


            </div>
            <!-- IOT -->
            <button style="background-color: white; background-color: white; padding: 100px; margin: 50px; font-size: 36px; border: 3px solid mediumblue;border-radius:5px " id="myBtn1">IOT</button>

            <!-- The Modal -->
            <div id="myModal1" class="modal1">

                <!-- Modal content -->
                <div class="modal-content1">
                    <span class="close1">&times;</span>
                    <ul>
                        <li>Getting Started with Raspberry Pi </li>
                        <li>Intro to Python </li>
                        <li>Basic Pyton and Console Interaction </li>
                        <li>Conditionals and Loops in Python </li>
                        <li>Getting Started with Physcial Computing </li>
                        <li>Functions, Exceptions, and Strings in Python</li>
                    </ul>
                </div>

            </div>
            <!-- SQL -->
            <button style="background-color: white; background-color: white; padding: 100px; margin: 50px; font-size: 36px; border: 3px solid mediumblue;border-radius:5px " id="myBtn2">SQL</button>

            <!-- The Modal -->
            <div id="myModal2" class="modal2">

                <!-- Modal content -->
                <div class="modal-content2">
                    <span class="close2">&times;</span>
                    <ul>
                        <li>Getting Started with Raspberry Pi </li>
                        <li>Intro to Python </li>
                        <li>Basic Pyton and Console Interaction </li>
                        <li>Conditionals and Loops in Python </li>
                        <li>Getting Started with Physcial Computing </li>
                        <li>Functions, Exceptions, and Strings in Python</li>
                    </ul>
                </div>

            </div>
            <button class="btn btn1">IOT</button>
            <button class="btn btn1">History of IT</button><br />
            <button class="btn btn1">Linux Essentials</button>
            <button class="btn btn1">Web Design</button>
            <button class="btn btn1">Intro to SQL</button><br />
            <button class="btn btn1">Android App Development</button>
            <button class="btn btn1">Datastructures & Algorithms</button>
            <button class="btn btn1">Software Engineering & Application Dev</button>

            <hr class="site-primary-color" />
            <hr class="site-primary-color" />
            <!--<p><table>
                <table style="width: 25%;" border="10" cellpadding="10">
    <tbody>
        <tr>
            <td>PHP</td>
            <td>IOT</td>
            <td>History Of IT</td>
        </tr>
        <tr>
            <td>Linux</td>
            <td>Web Design</td>
            <td>Intro To SQL</td>
        </tr>
        <tr>
            <td>Android App Dev</td>
            <td>Datastructures&Algorithms</td>
            <td>Software Engineering&App Dev</td>
        </tr>
    </tbody>
        </table></p>-->

        </div>
        </div>
</div>