
@{
    ViewData["Title"] = "Projects";
}

<h1>@ViewData["Title"]</h1>

<div class="container">

    <hr class="site-primary-color" />

    <div class="Projects">
        <button class="btn btn1">Github</button>


        <h4><a href="https://github.com/phillyOG">Github Repository</a></h4>

        <p></p>
    </div>
</div>