
@{
    ViewData["Title"] = "Projects";
}

<h1>@ViewData["Title"]</h1>

<div class="container">

    <hr class="site-primary-color" />

    <div class="Projects">
        <div class="repo">
        <a href="https://github.com/phillyOG">
            <button style="margin:50px,150px;"class="btn btn1">Github Repository</button>
        </a>
        </div>
        

        <div class="projects">
            <h1>More Projects Coming Soon....</h1>
        </div>
        

    </div>
</div>