html {
  font-size: 14px;
}
/*desktop*/
@media(min-width:1080px){
    html{
        font-size:16px;
    }
}
/*laptop*/
@media(min-width:768px) {
    html {
        font-size: 16px;
    }
}
/*smart phone*/
@media (min-width: 640px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.site-primary-color{
    background-color:deepskyblue;
    margin-left:0%;
    margin-right:0%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: darkblue;
    text-align: center;
}
IMG {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #fff;
    text-align: center;
}
.Projects a:hover{

}
.container{
    text-align:center;
    margin-top:25px;

}
.btn{
    border:3px solid #3498db;
    background:white;
    padding:10px 20px;
    font-size:20px;
    font-family:Arial;
    cursor:pointer;
    margin:20px;
    transition:0.8s;
    position:relative;
    overflow:hidden;
    padding-block:10px 20px;

}
.btn, .btn2 {
    padding-block: 10px 20px;
    color: #3498db;
}
.btn3, .btn4 {
    color:white;
}
.btn1:hover, .btn2:hover, btn3:hover, btn4:hover {
    color: #fff;
}
.btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
}
.btn1::before, .btn2::before, .btn3::before, .btn4::before {
    top:0;
    border-radius:0 0 50% 50%;
    height:180%;
}
.btn1:hover::before {
    height:180%;
}
/* The Modal (background) */
.modal {
    background: white;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-block: 100px 200px;
}
/* Modal Content/Box */
.modal-content {
    padding-block: 10px 20px;
    background-color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 18px;
    font-weight: bold;

}
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
.button {
    border: 3px solid #3498db;
    background: white;
    padding: 10px 20px;
    font-size: 20px;
    font-family: Arial;
    cursor: pointer;
    margin: 20px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    padding-block: 10px 20px;
}
/* The Modal (background) */
.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background: rgb(0,0,0); /* Fallback color */
    background: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-block: 10px 20px;
}

/* Modal Content/Box */
.modal-content1 {
    padding-block: 10px 20px;
    background: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close1:hover,
    .close1:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.Projects {

    margin-top:50px;
    margin-bottom:100px;
}
.repo {
    margin-top: 50px;
    margin-bottom: 100px;
}
.myBtn1 {
    background-color: white;
    background-color: white;
    padding: 100px;
    margin: 50px;
    font-size: 36px;
    border: 3px solid mediumblue;
    border-radius: 5px
}